<h1>Comentários</h1>

<table class="table table-hover">
  <tr>
  	<th>Autor</th>
    <th>Título</th>
    <th>Data</th>
    <th>Texto</th>
    <th>Tipo</th>
    <th colspan=3>Ações</th>
    <th>Avaliacões</th>
  </tr>

<% @comentarios.each do |comentario| %>
  <tr>
  	<th><%= comentario.usuario.nome %></th>
    <td><%= comentario.titulo %></td>
    <td><%= comentario.data %></td>
    <td><%= comentario.texto %></td>
    <td><%= comentario.tipo %></td>
    <td><%= link_to 'Show', comentario %></td>
    <td><%= link_to 'Edit', edit_comentario_path(comentario) %></td>
    <td><%= link_to 'Destroy', comentario, method: :delete, data: { confirm: 'Are you sure?' } %></td>

    <% cont = comentario.avaliacaos.count %>
    <% if (cont==0) %>
      <td><%= 'Nenhuma avaliacao' %></td>
    <% else %>
      <td>
      <% i = 0 %>
        <% while (i < cont) %>
            <%= link_to comentario.avaliacaos.map(&:nota)[i], 'avaliacaos/' + comentario.avaliacaos.map(&:comentario_id)[i].to_s + '/edit' %>
            <br>
        <% i=i+1 %>
        <% end %>
      </td>
    <% end %>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Comentário', new_comentario_path %>
