<p id="notice"><%= notice %></p>

<p>
  <b>Nota:</b>
  <%= @comentario.avaliacaos.nota %>
</p>

<p>
  <b>Justificativa:</b>
  <%= @comentario.avaliacaos.justificativa %>
</p>

<%= link_to 'Edit', edit_avaliacao_path(@avaliacao) %> |
<%= link_to 'Back', comentarios_path %>
