<h1>Usuários</h1>

<table class="table table-hover">
  <tr>
    <th>Nome</th>
    <th>Cpf</th>
    <th>Senha</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
    <td></td>
    <td></td>
  </tr>

<% @usuarios.each do |usuario| %>
  <tr>
    <td><%= usuario.nome %></td>
    <td><%= usuario.cpf %></td>
    <td><%= usuario.senha %></td>
    <td><%= usuario.email %></td>
    <td><%= link_to 'Show', usuario %></td>
    <td><%= link_to 'Edit', edit_usuario_path(usuario) %></td>
    <td><%= link_to 'Destroy', usuario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <tr>
    	<td>
    <% come = Comentario.find_by_sql("SELECT * FROM comentarios WHERE usuario_id = #{usuario.id}").to_a %>
    
    <% i=0 %>
    <% while i<usuario.comentarios.count  %>
    <tr><td>
    <%= link_to come.map(&:titulo)[i].to_s, 'comentarios/' + come.map(&:id)[i].to_s %>
    <% i+= 1 %>
    </td></tr>
    <% end %>
    
    <tr><td>
    <%= link_to 'Novo Comentario', new_comentario_path(:usuario_id => usuario.id) %>
    </td></tr>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Usuario', new_usuario_path %>
